body{
	background-color: #F8F8F8;

}
.recuadroGrande{
	background-color: #FFFFFF;
	margin-top: 35px;
	padding-bottom:  20px;
	margin-bottom: 300px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.btnEspecial{
	height: 45px;
}